.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.custom {
    margin: 20px;
    padding: 10px;
    border: 1px solid green;
}

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: -30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h4 {
    font-size: 21px;
}

blockquote h4:before {
    content: open-quote;
    font-weight: bold;
    font-size: 36px;
    color: #9a9a9a50;
}

blockquote h4:after {
    content: close-quote;
    font-weight: bold;
    font-size: 36px;
    color: #9a9a9a50;
}
