.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.custom {
    margin: 20px;
    padding: 10px;
    border: 1px solid green;
}

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: -30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h4 {
    font-size: 21px;
}

blockquote h4:before {
    content: open-quote;
    font-weight: bold;
    font-size: 36px;
    color: #9a9a9a50;
}

blockquote h4:after {
    content: close-quote;
    font-weight: bold;
    font-size: 36px;
    color: #9a9a9a50;
}

.emotionIndicator {
    text-align:center;
    white-space:nowrap;
    g-origin:50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.emotionIndicator p {
    margin:0 -100% ;
    display:inline-block;
}
.emotionIndicator p:before{
    content:'';
    width:0;
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}
.wrapper {
    width: 500px;
}
.progress-bar {
    width: 100%;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.progress-bar-fill {
    display: block;
    height: 8px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}